body{
    font-family: 'newnord', sans-serif;
    font-style: normal;
    font-weight: 400; 
    margin: 0;
}
/*header stuff here*/
header{
    background-color: #955E2B;
    padding: 1rem 2vw;
}
header h1{
    font-family: 'soap', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    margin: 0;
    color: #fff;
}
header p{
    margin: 0 7vw;
    color: #fff;
    letter-spacing: 1px;
}
/*nav stuff here*/
nav{
    background-color: #61603c;

}
nav ul {
    list-style-type: none;
    padding: 0.25vw 2vw;
    margin: 0.2vw;
    display: flex;
}
nav a{
    font: 1.1rem;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    display: block;
    padding: .83rem 2rem;
}
nav li.active a{
    background-color: #fff;
    color: #955E2B;
    border: 3px solid #955E2B;
    border-radius: .7rem;
}
nav a:hover{
    color: #000;
}
/*main stuff*/
main {
    padding: 1rem 2vw;
}
main h1{
    font-family: 'soap', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #2f434d;
}
main h2{
    font-family: 'newnord', sans-serif;
    font-style: normal;
    font-weight: 900;    
    color: #2f434d;
    margin-bottom: .2rem;
}
main p {
    color: #2f3133;
    margin: 0 0 .3rem 0; 
} 
main ol {
    padding: .5rem 3vw;
    background-color: #eee;
    list-style-type: circle;
    color: #61603c;
}
main dl{
    background-color: #eee;
    padding: .5rem 3vw;
}
main dl dt {
    color: #955E2B;
    font-weight: 900;
}
main dl dd{
    color: #2f434d;
    font-size: .9rem;

}
main ul{
    list-style-type: square;
}
main ul li{
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}
main address{
    font-style: normal;
    padding: .5rem;
    width: 22rem;
    border: 3px solid #2f434d;
    border-radius: .5rem;
}
main a {
    color: #955E2B;
}
main a.button {
    background-color: #955E2B;
    color: #fff;
    border-radius: .5rem;
    padding: 0.25vw 2vw;
}
main a:hover{
    color: #335932;
}
/*gallery stuff here*/
figure.wrapped {
    width: 20%;
    margin: 0 0 0 2%;
    float: right;
}
figure.wrapped img {
    width: 100%;
    height: auto;
}
figure.wrapped figcaption {
    text-align: center;
    font-size: .75rem;
}
div.gallery {
    display: flex;
    flex-wrap: wrap;
}
div.gallery figure {
    margin: 0.5rem 2% 0 0;
}
div.gallery figcaption{
    text-align: center;
    font-size: .8rem;
    color: #2f3133;
}

/*footer stuff*/
footer{
    background-color: #eee;
    text-align: center;
    color: #955E2B;
    padding: 1rem 0;
    font-size: .8rem;
}
footer a{
    color: #955E2B;
}
.myForm fieldset{ 
    border: 1px solid #955E2B;
    border-radius: 3px;
    margin-bottom: 1rem;
}

.myForm legend{
    color: #955E2B;
}
.myForm label {
    margin: .5rem;
}

.myForm label, .myForm select, .myForm [type=text], .myForm [type=tel], .myForm textarea, .myForm [type=email] {
    display: block;
}


.myForm [type=text], .myForm [type=tel], .myForm select, .myForm textarea, .myForm [type=email] {
    border: solid 1px #335932;
    padding: .3rem;
    width: 250px;
    border-radius: .3rem;
    font-family: 'newnord', sans-serif;
    font-weight: 200;
}

.myForm textarea {
    height: 6rem;
}

.myForm :required {
    background-color: rgba(51, 89, 50, .1);
}
.myForm [type=submit] {
    background-color: #955E2B;
    border: none;
    padding: 1rem 2rem;
    border-radius: .5rem;
    color: white;
    margin: 1rem 0 0 1vw;
}